.sidebar
{
    background:$color-primary;
    display:flex;
    justify-content: flex-end;
    padding:0.5225rem 0;
    align-items: center;
    grid-column:1 / 12;
    .button
    {
        background:$color-primary;
        padding:0;
        border:none;
        margin:0 1.5rem;
        .button_items
        {
            background:white;
            height:0.12rem;
            width:2rem;
            margin:0.4rem 0;
            
            
        } 
    }
}
@media(min-width:61.5rem)
{
    .sidebar
{
    grid-column:1 /2;
    grid-row:1/-1;
    flex-direction: column;
    justify-content: flex-start;
}
}